head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js')
  script(src='script.js')
  link(rel='stylesheet' href='style.css')

body
  div(ng-app='carousel')
    #preview
    .thumbnail-wrapper
      .thumbnail(ng-repeat='string in images' ng-mousemove='handleCursor($index, $event)' ng-mouseleave='handleMouseLeave($index)' style='background-image: url("{{string}}"); width: 10px' id='photo-{{$index}}')
