head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.js')
  script(src='fisheye.js')
  link(rel='stylesheet' href='style.css')

body
  #preview
  #list
  
  script(src='script.js')
