$maxWidth: 50px;
$minWidth: $maxWidth / 5;
$padding: ($maxWidth - $minWidth) / 4;

body {
  background-color: black;
  text-align: center;
}

#preview {
  width: 60em;
  height: 40em;
  background-image: url('https://d1k0cb7ed4to50.cloudfront.net/MPJkRpnF3_nc2beYvK8f8XcsOFw=/1800x1200/https://listing-photos-production.s3.amazonaws.com/uploads/listing-360/61361.jpg');
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.thumbnail {
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-right: 1px;
}
