$maxWidth: 50px;
$minWidth: $maxWidth / 5;
$padding: ($maxWidth - $minWidth) / 4;

body {
  background-color: white;
  // color: white;
}

#preview {
  width: 60em;
  height: 40em;
  background-image: url('images/photo-0.jpg');
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

// .thumbnail-wrapper {
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   margin: 0 auto;
// }
//
// .thumbnail {
//   background-size: cover;
//   background-position: center;
//   height: $maxWidth;
//   opacity: 0.6;
//   transition: all 100ms ease-in-out;
//   &:hover {
//     opacity: 1;
//   }
// }
